:root {
    --branca: rgb(255, 255, 255);
}

.sidebar {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.10);
}

aside span {
    color: rgb(255, 255, 255);
}

nav {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

nav button {
    color: var(--branca);
    text-align: left;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: none;
}

nav button:hover {
    background: rgba(255, 255, 255, 0.05);
}

.content {
    display: flex;
    margin-left: 260px;
}

.perfis-conteiner,
.senha-seguranca-conteiner,
.dados-pessoais-conteiner {
    background: var(--branca);
    width: 50vh;
    padding: 20px;
    border-radius: 10px;
}

.title-user {
    font-size: 20px;
}

.dados-pessoais-conteiner div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.titulo {
    font-weight: bold;
    font-size: 25px;
}

.grid {
    padding: 10px;
    border: 1px solid rgb(12, 16, 20);
    border-radius: 10px;
}

.senhaSeguranca {
    font-weight: bold;
    font-size: 25px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formulario input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.formulario input:hover {
    border: 1px solid rgb(12, 16, 20);
}

.formulario input:focus {
    outline: none;
}

.btnAlterarSenha {
    color: var(--branca);
    background: rgb(12, 16, 20);
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    margin-left: 260px;
}

.toastbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 260px;
    overflow: hidden;
}

.toast {
    position: relative;
    font-weight: 500;
    text-align: center;
    width: 300px;
    margin: 15px 0;
    background: var(--branca);
    padding: 20px;
    overflow: hidden;
    transform: translateY(-100px);
    animation: movetop 0.5s linear forwards;
}

@keyframes movetop {
    100% {
        transform: translateY(0);
    }
}

.toast::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}

.toast.success::after {
    background: green;
}

.toast.error::after {
    background: red;
}

.toast.invalid::after {
    background: orange;
}

@keyframes anim {
    100% {
        width: 0;
    }
}
