.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #a1a1a1;
}

.botao {
    width: 30px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.nav .titulo,
.titulo-nome {
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
}

.back {
    background: rgb(173, 216, 230);
    color: rgb(255, 255, 255) !important;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.container {
    border-radius: 10px;
    border: 1px solid #a1a1a1;
    padding: 20px;
    width: 80vh;
}

img {
    width: 24px;
    height: 24px;
}

.form {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.campo div {
    margin-bottom: 20px;
}

.form label {
    text-transform: capitalize;
    font-weight: bold;
}

.form input {
    padding: 5px;
}

label {
    color: rgb(255, 255, 255);
}

.nome,
.sobrenome,
.email,
.username {
    display: flex;
    width: 300px;
}

.nascimento {
    display: flex;
    width: 120px;
}

.erro-nome,
.erro-idade,
.erro-altura,
.erro-peso {
    font-size: 0.8em;
    color: rgb(255, 165, 0);
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: left !important;
}

.checkbox p,
.checkbox label {
    text-transform: capitalize;
    margin: 0;
    font-weight: normal;
}

.check-active {
    cursor: pointer;
    width: auto !important;
}

.div-save {
    text-align: center;
    display: flex;
    gap: 10px;
}

.btn-save,
.btn-save-continue {
    color: rgb(255, 255, 255);
    background: rgb(60, 179, 113);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.dropdown {
    text-align: start;
    display: flex;
    flex-direction: column;
}

select {
    width: 150px;
    outline: none;
}