.div-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-cadastro h1 {
    flex: 1; text-align: center;
}

img {
    width: 24px; height: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;

}

.form {
    width: 70vh;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input,
.form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form input:focus {
    outline: 1px solid rgb(12, 16, 20);;
}

.btn {
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    background: rgb(12, 16, 20);
    cursor: pointer;
}

.erro-nome,
.erro-sobrenome,
.erro-data,
.erro-email,
.erro-user,
.erro-password,
.erro-password-again {
    color: rgb(255, 0, 0);
    font-size: 0.9rem;
}