.titulo {
    text-align: center;
    max-width: 440px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 50px auto 20px auto;
    border-radius: 10px;
}

.container {
    border-radius: 10px;
    max-width: 440px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
}

.div-input {
    margin-bottom: 10px;
}

.div-input input {
    display: block;
    width: 300px;
    padding: 5px;
}

.btn {
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    background: rgb(12, 16, 20);
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 100px;
    padding: 8px;
    cursor: pointer;
}

.erro-nome,
.erro-sobrenome,
.erro-data,
.erro-email,
.erro-user,
.erro-password,
.erro-password-again {
    color: rgb(255, 0, 0);
    font-size: 0.9rem;
}
