# Ambiente virtual
.venv/
venv/

# Variaveis de ambiente
.env
.env.*

# Python
__pycache__/
*.py[cod]

# MySQL / configs locais
configs.py
setting.py
database.py
*.cnf
*.ini

# Logs
*.log
logs/

#Testes locais
test.py
teste.py

# IDEs
.idea/
.vscode/

# Sistema
Thumbs.db
desktop.ini

# Node
node_modules/